@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Frank+Ruhl+Libre&family=Pontano+Sans&display=swap');

:root {
    --dark: #073b3a;
    --light: #d8f3dc;
    --primary: #04471c;
    --acent: #5f010a;
    --primary-font: 'Frank Ruhl Libre', serif;
    --secondary-font: 'Pontano Sans', sans-serif;
    --heading-font: 'Bebas Neue', cursive;
}

input {
	background-color: #fff;
	border: 1px solid grey ;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    border-radius: 20px;
    height: 35px;
}

.change-password-section {
	min-height: 100vh;
	background-color: #ffffff;
    background-image: linear-gradient(315deg, #ebebec 0%, #f1ecec 74%);
}
.change-password-section .change-password {
	max-width: 600px;
	padding: 1rem;
	padding-top: 5rem;
}

.change-password-section .change-password .wrapper {
	background: #4ea367;
	background: -webkit-linear-gradient(to right, var(--dark), #4ea367);
	background: linear-gradient(to right, var(--dark), #4ea367);
	border-radius: 15px;
}

.change-password-section .change-password .title {
	padding: 3rem 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--heading-font);
	color: white;
	font-size: 1.5rem;
}

.change-password-section .change-password .title h1 {
    margin: 0;
}

.change-password-section .change-password .content {
	background: white;
	padding: 1.5rem 2.5rem;
	border-radius: 15px;
}

.change-password-section .change-password .content p {
    font-family: var(--heading-font);
    color: var(--dark);
    font-size: 1rem;
}

.change-password-section .change-password .content table {
    border-collapse:separate;
    border-spacing:0 10px;
}

.change-password-section .change-password .content table span {
    font-size: 12px;
    color: grey;
}

.change-password-section .change-password .content table tr th {
    border: none;
    font-family: var(--heading-font);
    font-weight: normal;
    color: var(--dark);
    letter-spacing: 1px;
    width: 150px;
    padding: 0.7rem 1rem;
}

.change-password-section .change-password .content table tr td {
    border: none;
    font-family: var(--primary-font);
    color: black;
    padding: 0rem 1rem;
}

.change-password-section .change-password .content form input:focus {
	outline-width: 0;
}

.change-password-section .change-password .content .action-link {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}