<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Route Detection</title>
    <!-- <link rel="icon" href="assets/images/H_logo_link_icon.png" type="image/png" sizes="16x16"> -->
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static './css/home.css' %}">
</head>
<body>
    
    <section class="header-section">
        <div class="header container">
            <img src="{% static './img/delivery.svg' %}" class="logo" alt="">
            <div class="d-flex">
                <div class="user-info">
                    <a href="/user_logout">Logout</a>
                    <h5>{{user.username}}</h5>
                </div>
                <a href="/profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>

    <section class="search-section">
        <div class="banner-svg">
            <img src="{% static './img/undraw_Destination_re_sr74.svg' %}" alt="">
        </div>
        <div class="search container">
            <h1>Start Tracking.....</h1>
            <div class="tracking-table col-7">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Vehicle Number</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <form action="#">
                                {% csrf_token %}
                                <td><input type="search" placeholder="GJ-XX-XXXX"></td>
                                <td><input type="date" placeholder="Date"></td>
                                <td>
                                    <select name="location" id="">
                                        <option value="none">...</option>
                                        <option value="none">Athwagate</option>
                                        <option value="none">Katargam</option>
                                    </select>
                                </td>
                                <td><button type="submit" class="primary-link">Search</button></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section> 
    
    <section class="result-section">
        <div class="result container">
            <h1>Details......</h1>
            <div class="details-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Vehicle No.</th>
                            <th>location</th>
                            <th>Camera No.</th>
                            <th>Date & Time</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>